*{
    margin :0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    justify-content: space-between;
    
}

header h2{
    font-size: 1.4em;
    padding: 3%;
    color : white;
}

section{
    display: flex;
    align-items: center;
    width: 100%;
    border: black solid 1px;
    text-align: center;
    padding: 3%;
}

section .hol{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
    width: 90%;
}

section .hol button{
    all: unset;
    background-color: #007bff;
    color : white;
    border-radius: 20px;
    padding: 20px;
    width: 10%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

section .hol button:hover{
    background-color: #0056b3;

}

#tasksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f4f4f9;
    align-items: center;
    justify-content: center;

}

#tasksContainer .task{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f4f4f9;
    border-bottom: black solid 0.5px;
    align-items: center;
    justify-content: center;
}

#tasksContainer .task .holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    width: 90%;
    justify-content: space-between;
}

#tasksContainer .task .holder .text {
    all: unset;
    font-size: 1.2rem;
    padding: 0.5em;
    width: 60%;
    height: 2.5em;
    background-color: #f4f4f9;
    box-sizing: border-box;
    color: #333;
    border-radius: 0.5em;
    resize: none;
    vertical-align: middle; 
}

#tasksContainer .task .holder .more{
    display: none;
}

#tasksContainer .task .holder .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    width: 30%;
    justify-content: space-between;
    
}

#tasksContainer .task .holder .buttons .status{
    all: unset;
    background-color: #007bff;
    color : white;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 2.5em;
    width: 20%;
    text-align: center;
    vertical-align: middle; 
}

#tasksContainer .task .holder .buttons .status:hover {
    background-color: #0056b3;
}

#tasksContainer .task .holder .buttons .edit{
    all: unset;
    background-color: #ffc107;
    color : white;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 2.5em;
    width: 20%;
    text-align: center;
    vertical-align: middle; 
}

#tasksContainer .task .holder .buttons .edit:hover {
    background-color: #e0a800;
}

#tasksContainer .task .holder .buttons .delete{    
    all: unset;
    background-color: #dc3545;
    color : white;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 2.5em;
    width: 20%;
    text-align: center;
    vertical-align: middle; 
}

#tasksContainer .task .holder .buttons .delete:hover {
    background-color: #c82333;
}

#tasksContainer .task .holder .buttons .save{
    all: unset;
    background-color: #0ac91d;
    color : white;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 2.5em;
    width: 20%;
    text-align: center;
    vertical-align: middle; 
}

#tasksContainer .task .holder .buttons .save:hover {
    background-color: #0ca31b;
}


#tasksContainer .task .holder .buttons .cancel{
    all: unset;
    background-color: #dc3545;
    color : white;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 2.5em;
    width: 20%;
    text-align: center;
    vertical-align: middle; 
}

#tasksContainer .task .holder .buttons .cancel:hover {
    background-color: #c82333;
}





footer{
    margin: 2em 0;
    width: 100%;
    text-align: center;
}
footer button{
    all: unset;
    background-color: #dc3545;
    color : white;
    border-radius: 20px;
    padding: 20px;
    width: 10%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    height: 15px;
    width: 10%;
}

@media (max-width : 890px) {
    #tasksContainer .task .holder .buttons .status{
        font-size: 0.8em;
        }
    
    #tasksContainer .task .holder .buttons .edit{
        font-size: 0.8em;    
    }
        
    #tasksContainer  .task .holder .buttons .delete{    
        font-size: 0.8em;
    }
     
    #tasksContainer  .task .holder .buttons .cancel{    
        font-size: 0.8em;
    }

    #tasksContainer  .task .holder .buttons .save{    
        font-size: 0.8em;
    }
}

@media (max-width : 700px) {
    header h2{
        font-size: 1em;
    }    

    section .hol button{
        font-size: 0.8em;
    }

    
}

@media (max-width : 650px) {
    #tasksContainer    .task .holder .buttons .status{
        font-size: 0.6em;
        padding: 5px;
        }
    
        #tasksContainer    .task .holder .buttons .edit{
        font-size: 0.6em;    
        padding: 5px;
    }
        
    #tasksContainer  .task .holder .buttons .delete{    
        font-size: 0.6em;
        padding: 5px;
    }

    #tasksContainer  .task .holder .buttons .save{    
        font-size: 0.6em;
        padding: 5px;
    }

    #tasksContainer  .task .holder .buttons .cancel{    
        font-size: 0.6em;
        padding: 5px;
    }
}

@media (max-width : 560px) {
    section .hol button{
        width: 20%;
    }

    footer button{
        width: 20%;
    }

    #tasksContainer .task{
        height: 80px;
        overflow-y: visible;
    }
    

    #tasksContainer .task .holder .more {
        display: flex;
        all: unset;
        cursor: pointer;
    }

    #tasksContainer .task .holder .buttons {
        display: none;
        flex-direction: column;
        background-color: #f0f0f5;
        z-index: 100;
        gap: 10px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    

    #tasksContainer .task .holder .buttons .status{
        font-size: 0.6em;
        padding: 5px;
        width: 60%;
        }
    
    #tasksContainer .task .holder .buttons .edit{
        font-size: 0.6em;    
        padding: 5px;
        width: 60%;
    }
        
    #tasksContainer .task .holder .buttons .delete{    
        font-size: 0.6em;
        padding: 5px;
        width: 60%;
    }

    #tasksContainer .task .holder .buttons .cancel{    
        font-size: 0.6em;
        padding: 5px;
        width: 60%;
    }

    #tasksContainer .task .holder .buttons .save{    
        font-size: 0.6em;
        padding: 5px;
        width: 60%;
    }
}


@media (max-width : 470px) {
    #tasksContainer .task .holder .text{
        font-size: 0.9em;
        }
}



@media (max-width : 350px) {
    header h2{
        font-size: 0.8em;
    }    

    #tasksContainer .task .holder .text{
        font-size: 0.8em;
        }

    section .hol button{
        font-size: 0.8em;
        padding: 10px;
    }

    footer button{
        font-size: 0.8em;
        padding: 10px;
    }
}


@media (max-width : 270px) {
    header h2{
        font-size: 0.6em;
    }    

    section .hol button{
        font-size: 0.6em;
    }

    #tasksContainer .task .holder .text{
        font-size: 0.6em;
        }

    footer button{
        font-size: 0.6em;
    }
}
